// breakpoints
$bp-mobile: 400px; // the pixel width at which "mobile" styles stop
$bp-tablet: 760px; // the pixel width at which "tablet" styles stop
$bp-desktop: 1200px; // the pixel width at which "desktop" styles stop

$bp-tablet-sm: 560px;

// colors
$purple: #45273a;
$light-purple: #884e73;
$green: #358a35;
$light-green: #42a742;
$blue: #3461b5;
$light-blue: #5386e4;
$red: #ff4343;
$light-red: #ff8787;

$dark-white: #eee;
$white: #fff;
$black: #000;
$grey: #ccc;

// fonts
$font-xs: .85rem;
$font-sm: .9rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 3rem;

$max-width: 1080px;
